<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<br>

	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center" th:text="${titulo}"></h1>
				<div class="card-body">
					<form th:action="@{/form}" th:object="${usuario}" method="post">
						<input type="hidden" th:field="*{id}" th:value="${usuario.id}" />
						<div class="form-group">
							<label>Nombre : </label> <input type="text" th:field="*{nombre}"
								class="form-control" th:errorclass="'form-control alert-danger'" 
								placeholder="Digite el valor a buscar" required/>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
						<div class="form-group">
							<label>Apellido Paterno : </label> <input type="text"
								th:field="*{apaterno}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apaterno')}" th:errors="*{apaterno}"></small>
						</div>
						<div class="form-group">
							<label>Apellido Materno : </label> <input type="text"
								th:field="*{amaterno}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('amaterno')}" th:errors="*{amaterno}"></small>
						</div>
						<div class="form-group">
							<label>Login : </label> <input type="text"
								th:field="*{login}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></small>
						</div>
						<div class="form-group">
							<label>Password : </label> <input type="password"
								th:field="*{password}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
						<div class="form-group">
							<label>Email : </label> <input type="text" th:field="*{email}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
						<div class="form-group">
							<label>Fecha Alta: </label> <input type="date"
								th:field="*{fecha_alta}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha_alta')}"
								th:errors="*{fecha_alta}"></small>
						</div>
						<div class="form-group">
							<label>Fecha Baja: </label> <input type="date"
								th:field="*{fecha_baja}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha_baja')}"
								th:errors="*{fecha_baja}"></small>
						</div>
						<div class="form-group">
							<label>Fecha Revocacion: </label> <input type="date"
								th:field="*{fecha_revocacion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha_revocacion')}"
								th:errors="*{fecha_revocacion}"></small>
						</div>
						<div class="form-group">
							<label>Fecha Vigencia: </label> <input type="date"
								th:field="*{fecha_vigencia}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha_vigencia')}"
								th:errors="*{fecha_vigencia}"></small>
						</div>
						<div class="form-group">
							<label>Estatus: </label> <input type="text" th:field="*{estatus}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('estatus')}" th:errors="*{estatus}"></small>
						</div>
						<div class="form-group">
							<label>Numero de acceso : </label> <input type="number"
								th:field="*{noacceso}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('noacceso')}" th:errors="*{noacceso}"></small>
						</div>
						<div class="form-group">
							<label>Area : </label> <input type="number" th:field="*{area}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></small>
						</div>




						<div class="box-footer">
							<input type="submit" value="Guardar" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>